<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Document</key>
		<dict>
			<key>show_cropper</key>
			<true/>
			<key>enable_flash_capture</key>
			<false/>
			<key>enable_document_quality_checker</key>
			<true/>
			<key>manual_timeout</key>
			<integer>10</integer>
			<key>bypass_offset</key>
			<integer>4</integer>
			<key>only_manual_capture</key>
			<false/>
			<key>enable_help</key>
			<true/>
			<key>show_debug_mode</key>
			<false/>
			<key>document_showconfirmation_screen</key>
			<true/>
			<key>barcode_check</key>
			<true/>
		</dict>
		<key>Selfie</key>
		<dict>
			<key>selfie_manual_timeout</key>
			<integer>10</integer>
			<key>selfie_manual_capture</key>
			<false/>
			<key>selfie_enable_help</key>
			<true/>
			<key>selfie_showconfirmation_screen</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
